body {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;
  padding-top: 20px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: blue;
}

h1 {
  color: rgb(0, 0, 0);
}
